<header class="header">
  <div class="container">
    <h2 class="nav pull-right">test</h2>
    <div class="logo">
      <%= image_tag("boot.png", :alt => "rss feed") %>
    </div>
    <h1 class="title">LESS BOOT</h1>
  </div>
</header>

<div class="container-fluid center-block">
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-md-4">
        <div class="box">
          <img class="img-rounded" src=<%= item.live_preview_url %> />
        </div>
      </div>
    <% end %>
  </div>
</div>

<footer>
  <div class="container">
    <div class="footer center-block">
      <%= will_paginate @items %>
    </div>
    <div class="pull-right">
      dunckr
      <a href="http://thenounproject.com/FabioMeroni/"></a>Image @ CC FabioMeroni</div>
  </div>
</footer>
