<nav class="navbar navbar-static-top" role="navigation">
  <div class="container">
    <div class="pull-right">
      dunckr
    </div>
    <h3 class="text-muted">LessBoot</h3>
  </div>
</nav>
<!-- <header class="navbar navbar-static-top">
  <div class="container">
    <div class="pull-right">
      dunckr
    </div>
    <h3 class="text-muted">LessBoot</h3>
  </div>
</header> -->

<div class="container-fluid">
  <div id="masonry-container" class="transitions-enabled">
    <% @items.each do |item| %>
      <div class="box">
        <img src=<%= item.live_preview_url %> />
      </div>
    <% end %>
  </div>
</div>

<footer>
  <div class="container">
    <div class="footer center-block">
      <%= will_paginate @items %>
    </div>
  </div>
</footer>

