<h1>header</h1>

<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">

  <div class="box">
    <p>
      <% @items.each do |item| %>
        <a href=<%= link_to 'Show', item %>
          <img src=<%= item.live_preview_url %> />
        </a>
      <% end %>
    </p>
</div>

<div>
  <%= will_paginate @items %>
</div>
