// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require 'masonry/basic'
//= require 'masonry/fluid'
//= require 'masonry/gutters'
//= require 'masonry/infinitescroll'
//= require 'masonry/right-to-left'
//= require 'masonry/transitions'

body {
  background: image-url("bg.png");
}

footer {
  text-align: center;
}

.pagination {
  margin-bottom: 0;
}

.less {
  display: inline;
  font-family: 'PT Mono', sans-serif;
  color: #E74C3C;
}

.boot {
  display: inline;
  color: #BDD4DE;
}

header h4 {
  margin: 20px;
}

.info p {
  font-family: 'Oswald', serif;
}

.rating {
  color: #E74C3C;
}

.rating small {
  color: #BDD4DE;
}

.cost {
  color: #EFEFEF;
}

.cost small {
  color: #BDD4DE;
}

.box {
  background: #2B3A42;
}

.tag {
  color: #BDD4DE;
  padding: 10px;
}

.tag-diff {
  font-family: 'PT Mono', sans-serif;
  color: #EFEFEF;
}

.pagination li a {
  background-color: transparent;
  border: none;
  font-family: 'PT Mono', sans-serif;
  color: #BDD4DE;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #EFEFEF;
  border-color: #EFEFEF;
}

.link {
  padding: 10px;
  color: #BDD4DE;
  font-family: 'Oswald', serif;
}
